<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="heather" th:replace="fragments::header"/>

    <div class="service_field">
        <div class="score_table">
            <table>
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="score: ${scores}">
                    <td th:text="${score.player}"></td>
                    <td th:text="${score.points}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <span  th:utext="${@blockPuzzleController.getMainField()}"/>

        <div class="side_buttons">
            <div class="remove">
                <span th:if="${@blockPuzzleController.remove}">
                    <a href="/blockpuzzle/remove"><button class="button_game">ADD</button></a><br/>
                </span>

                <span th:if="not ${@blockPuzzleController.remove}">
                    <a href="/blockpuzzle/remove"><button class="button_game">REMOVE</button></a><br/>
                </span>
            </div>
           <div class="end">
               <span th:if="${@blockPuzzleController.gameOver}">
                    <a href="/blockpuzzle/endgame"><button class="button_end">END GAME</button></a><br/>
               </span>
           </div>
            <div class="next">
                <span th:if="not${@blockPuzzleController.getViewButtons()}">
                <a href="/blockpuzzle/newlevel"><button class="button_next">NEXT LEVEL</button></a><br/>
                </span>
           </div>

        </div>
    </div>

    <div class="object" th:utext="${@blockPuzzleController.printUselessObject()}"/>



<div class="score_table">
    <table>
        <thead>
        <tr>
            <th>Player</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <td th:text="${comment.player}"></td>
            <td th:text="${comment.comment}"></td>
        </tr>
        </tbody>
    </table>

        Average Rating
        <span th:text="${avgRating}"/>

</div>
</body>
</html>